.expenses {
    padding: 1rem;
    background-color: #1f1f1f;  
    margin: 20px auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
  }
  
.expenses-list {
    list-style: none;
    padding: 0;
}

.expenses-list__fallback {
    color: white;
    text-align: center;
}